<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>
<body>
<form action="#" th:action="@{/student-update}" th:object="${student}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
    <br>
    <label for="studentGroup">Student Group Id</label>
    <input type="text" th:field="*{studentGroup}" id="studentGroup" placeholder="Student Group Id">
    <br>
    <label for="subject">Subject Id</label>
    <input type="text" th:field="*{subject}" id="subject" placeholder="Subject Id">
    <br>
    <input type="submit" value="Update Student">
</form>
</body>
</html>