<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Get</title>
</head>
<body>
<form action="#" th:action="@{/studentGroup}" th:object="${studentGroups}" method="post">
    <label>ID - </label>
    <b th:text="${studentGroup.id}"></b>
    <br>
    <label>Name - </label>
    <b th:text="${studentGroup.name}"></b>
    <br>
    <label>Entry Year - </label>
    <b th:text="${studentGroup.entryYear}"></b>
    <br>
</form>
</body>
</html>